.profile__image-wrapper{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

@media screen and (max-width: 879px) {
    .profile__image-wrapper{
        margin-right: 0;
        
    }
}