.form__field{
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21px;
    color: #000000;
    padding-bottom: 13px;
    padding-top: 7px;
    box-sizing: border-box;
    ;
}

.form__field:focus{
    border: 2px solid rgb(46, 46, 126);
    
}