.place-grid__title-container{
    max-width: 246px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 31px 21px;
}

@media screen and (max-width: 639px) {
    .place-grid__title-container{
        margin: 21px 15px 27px 21px;
    }
}