.place-grid__like{
    background-image: url(../../../images/place-grid__like.svg);
    background-position: center;
    width: 22px;
    height: 19px;
    margin-left: 28px;
    margin-right: 5px;
    border: none;
    outline: none;
}

.place-grid__like:hover{
    opacity: 0.5;
    cursor: pointer;
}

.place-grid__like:focus{
    background-image: url(../../../images/place-grid__like_active.png);
    cursor: pointer;
}
